# {{ ansible_managed }}
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name {{ element_domain }}; 
    root /var/www/element;
    ssl_certificate "{{ element_certificate_path }}";
    ssl_certificate_key "{{ element_private_key_path }}";
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header Content-Security-Policy "frame-ancestors 'none'";
  }
# vim: syntax=nginx
